{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "ecmaVersion": 2017
    }
  },
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
